*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(192, 192, 126);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.musicinfo{
    display: inline-block;
}
.img-cont img{
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 50%;
    animation: rotate 6s linear infinite;
}

/* making the image rotate */
@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}