<%- include('partials/header') %>
<form action="/" method="POST">
  <button type="submit" name="rock" value="1">
    <img src="Images/icon-rock.svg" alt="rock" />
  </button>
  <button type="submit" name="paper" value="2">
    <img src="Images/icon-paper.svg" alt="paper" />
  </button>
  <button type="submit" name="scissors" value="3">
    <img src="Images/icon-scissors.svg" alt="scissors" />
  </button>
</form>
<%- include('partials/footer') %>
