@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root{
    /* theme 1 colors */
    --very-dark-blue-bg: hsl(222, 26%, 31%);
    --very-dark-blue-keypad: hsl(223, 31%, 20%);
    --very-dark-blue-screen: hsl(224, 36%, 15%);
    /* theme 1 keys */
    --dark-blue-key: hsl(225, 21%, 49%);
    --dark-blue-shadow: hsl(224, 28%, 35%);
    --red-key-background: hsl(6, 63%, 50%);
    --dark-red-shadow: hsl(6, 70%, 34%);
    --light-gray-orange: hsl(30, 25%, 89%);
    --grayish-orange-shadow: hsl(28, 16%, 65%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
body{
    background: var(--very-dark-blue-bg);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container .title{
    color: white;
    display: flex;
    justify-content: space-between;
}
.screen{
    background-color: var(--very-dark-blue-screen);
    color: white;
    padding: 0.5rem;
    width: 16rem;
    height: 4rem;
    font-size: 1.6rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    text-align: right;
}
.btncontainer{
    background-color: var(--very-dark-blue-keypad);
    border-radius: 6px;
    padding: 1rem;
    color: var(--dark-blue-key);
    text-shadow: var(--dark-blue-shadow);
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.4rem;
}
.bottom{
    margin-top: 0.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.3rem;
}
.buttons button, .bottom button{
    padding: 0.3rem;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
}
.redel, .equal{
    color: #fff;
}
.equal{
    background-color: var(--red-key-background);
}
.redel{
    background-color: var(--dark-blue-key);
}